h2 {
    background-color: purple;
    color: gold;
    padding-left: 45px;
    font-size: 25px;
    text-align: center;
  }
  
  body {
    background-color: white;
  }
  
  form {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 25px; 
    text-shadow: 0cm; 
  }
  
  .card {
    position: static;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    box-shadow: inset;
  }

  #JSONbutton {
    background-color: black;
    margin-left: 25px;
    box-shadow: inset;
  }
  
  #footer {
    padding: 25px;
    color: blue;
    text-align: center;
    background: white;
    font-size: 25px;
    width: auto;
    position: absolute;
  }